* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .autentificare,
  .formular,
  .inregistrare,
  .recenzii {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .home .navbar {
    background:transparent !important;
}